@charset "utf-8";
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	background-repeat:no-repeat;
}
/*end reset */
body{
    background:#c8c8c8;
    width:100%;
    min-width:1000px;
    height:1080px;
    overflow-x:hidden;
}
a img{ border:none; }
#header{
    width:100%;
    min-width:1000px;
    height:289px;
    background: url(../images/icondock.png) no-repeat bottom center, url(../images/headerbg.png) repeat-x;
    position:relative;
    overflow:hidden;
    z-index:2;
    clear:none;
}
#nexuslogo{
    float:left;
    width:44%;
    min-width:500px;
    height:171px;
    padding-top:20px;
    padding-left:2%;
}
#nexuslogo img{
    float:left;
}
.sitename{
    float:left;
    height:115px;
    color:#D1D1D1;
    font-size:40px;
    padding-left:30px;
    padding-top:40px;
    margin-left:10px;
    border-left: solid 1px #c8c8c8;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    font-style:italic;
}
.sitename h1{
    padding-top:15px;
    font-weight:300;
}
#quick{
    width:44%;
    float:right;
    padding-right:2%;
    text-align:right;
    color:#D1D1D1;
    font-family:Arial, Helvetica, sans-serif;
}
#user{
    float:right;
    font-size:22px;
    margin-top:70px;
    margin-right:20px;
}
#logout{
    float:right;
    font-size:22px;
    font-weight:600;
    margin-top:70px;
    padding-left:20px;
    border-left: solid 1px #c8c8c8;
}
#logout a{
    color:#D1D1D1;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
}
#nav{
    height:108px;
    width:100%;
    padding-top:10px;
    text-align:center;
    float:left;
}
#nav img{
    display:inline;
}
#nav a{
    height:98px;
    padding-bottom:3px;
    overflow:hidden;
    padding-left:10.5px;
    padding-right:10.5px;
    padding-bottom:8px;
}
#nav a img{
    margin:0px;
}
.spacer{
    margin-left:8.5px;
    margin-right:8.5px;
    margin-bottom:7px;
}
#nav .current{
    background:url(../images/ub.png) center bottom no-repeat;
}
#cpinfo{
    position:relative;
    z-index:1;
    max-width:1295px;
    min-width:1000px;
    width:100%;
    height:80px;
    margin:-65px auto;
    padding:20px;
    background:#1c1c1c url(../images/cp.png) bottom center no-repeat;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:#D1D1D1;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
}
#cpinfo .cpinfo-left{
    width:300px;
    padding:0px;
    margin:0px;
    margin-top:35px;
    height:40px;
    display:block;
    float:left;
}
#cpinfo .cpinfo-right{
    width:300px;
    padding:0px;
    margin-top:35px;
    margin-right:0px;
    height:40px;
    display:block;
    float:right;
}
.maincontents{
    width:100%;
    clear:both;
    float:left;
    margin-top:40px;
}
.content{
    width:96%;
    float:left;
    margin-left:2%;
    -moz-border-radius:10px;
    border-radius:18px;
    -moz-box-shadow: 0 0 10px 3px #111;
    -webkit-box-shadow: 0 0 10px 3px #111;
    box-shadow: 0 0 10px 3px #111;
    padding-bottom:28px;
    margin-top:10px;
    overflow:hidden;
    cursor:pointer;
    
}
.contenthover{
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.contentcollapse{
    background:#1c1c1c url(../images/collapse.png) no-repeat bottom center;
}
.contentexpand{
    background:#1c1c1c url(../images/expand.png) no-repeat bottom center;
}
.cheader{
    width:98%;
    padding:1%;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    font-size:20px;
    font-family: "Microsoft Sans Serif", "Century Schoolbook L", Helvetica, sans-serif;
    text-transform:capitalize;
    background:#51688f;
    color:#1c2432;
    overflow:hidden;
}
.contents{
    width:92%;
    padding:4%;
    font-size:16px;
    font-family: "Microsoft Sans Serif", "Century Schoolbook L", Helvetica, sans-serif;
    color:#ffffff;
    display:block;
    float:left;
    border-bottom:1px solid #0b0b0b;
}
.contents div, .contents span, .contents applet, .contents object, .contents iframe, .contents
h1, .contents h2, .contents h3, .contents h4, .contents h5, .contents h6, .contents p, .contents blockquote, .contents pre, .contents
a, .contents abbr, .contents acronym, .contents address, .contents big, .contents cite, .contents code, .contents
del, .contents dfn, .contents em, .contents font, .contents img, .contents ins, .contents kbd, .contents q, .contents s, .contents samp, .contents
small, .contents strike, .contents strong, .contents sub, .contents sup, .contents tt, .contents var, .contents
b, .contents u, .contents i, .contents center, .contents
dl, .contents dt, .contents dd, .contents ol, .contents ul, .contents li, .contents
fieldset, .contents form, .contents label, .contents legend, .contents
table, .contents caption, .contents tbody, .contents tfoot, .contents thead, .contents tr, .contents th, .contents td{
    max-width:92%;
    font-size:16px;
    color:#ffffff;
    display:block;
    float:left;
}
.contentsclosed{
    height:0px;
    padding:0% 4% 0% 4%;
    display:none;
}
.col{
    width:48%;
    margin-left:1%;
    float:left;
    min-height:100px;
    margin-top:10px;
}
.fullcol{
    width:100%;
}
#smdiv{
width:2px;
height:29px;
}
#links{
float:left;
margin-top:197px;
margin-bottom:0px;
margin-left:-210px;
border:none;
}
#links a{
border:none;
}
.icons{
margin-left:21px;
margin-top:5px;
}
.icon{
margin-left:21px;
margin-bottom:5px;
}
.rowstart{
 margin-left:-15px;
}
#quicklog a{
text-decoration:none;
}
#selector{
float:left;
z-index:1;
position:relative;
margin-top:-3px;
margin-left:259px;
}
#diff{
height:13px;
width:944px;    
z-index:0;
margin-top:-5px;
margin-left:-94px;
}
#main{
width:1920px;
height:696px;
}
#titlebar{
height:108px;
width:1769px;
float:left;
margin-top:-50.5px;
margin-left:79px;
background: url(../images/titlebar.png);
}
#titlebar h4{
margin-left:40px;
margin-top:24px;
height:79px;
width:340px;
font-family:sans-serif;
color:#d1d1d1;
font-size:12px;
}
#cp{
margin-left:670px;
margin-top:-75px;
margin-bottom:60px;
height:55px;
width:425px;
}
#titlebar p{
float:right;
margin-right:50px;
margin-top:-95px;
height:79px;
width:320px;
font-family:sans-serif;
color:#d1d1d1;
font-size:12px;
}
#mta{
float:right;
margin-right:30px;
margin-top:-80px;
height:26px;
width:26px;   
}
#footer{
width:1920px;
height:95px;
background: url(../images/footer.png);
}
#footer h4{
float:left;
margin-top:50px;
margin-left:30px;
font-family:sans-serif;
color:#d1d1d1;
}
/* generic styles */
.absolute{
    position:absolute;
    z-index:99;
}
.input{
    width:100%;
    float:left;
    margin-top:10px;
}
.input label{
    width:25%;
    text-align:left;
    float:left;
}
.submit input{
    background:#465f87;
    border:none;
    padding:5px;
    margin-left:25%;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color:#ffffff;
    font-weight:300;
    font-size:16px;
    font-family: "Microsoft Sans Serif", "Century Schoolbook L", Helvetica, sans-serif;
}
.submit input:hover{
    cursor:pointer;
}